<!-- This page is the main page of admin accounts after successful login -->

<head>
    <title>Artisan's Sky</title>
</head>
<body>
    <h1>Artisan's Sky</h1>
    <h2>Hi This is admin homepage</h2>
    <% if (messages.info) { %>
        <img src=<%=messages.info%> alt="/uploads/user_profile_images/images.png" style="width: 60px; height: 60px;"/>
    <% } %>
    <form action="/profile" method="POST" enctype="multipart/form-data">
       
        <div>
            <label for="profile_image">Upload profile picture: </label>
            <input type="file" name="profile_image" id="profile_image">
        </div>
        <div>
            <button type="submit">Save</button>
        </div>
    </form>
    <form action="/manageusers" method="GET">
        <button type="submit">Manage users</button>
    </form>
    <!-- <form action="/pwmod?_method=PUT" method = "POST"> -->
        <!-- <label for="email">Enter email</label><br/>
        <input type="email" id="email" name="email"><br/>
        <% if (messages.email) { %>
            <%= messages.email %>
        <% } %><br/>

        <label for="og_pw">Enter original password</label><br/>
        <input type="text" id="og_pw" name="og_pw"><br/>
        <% if (messages.og_pw) { %>
            <%= messages.og_pw %>
        <% } %><br/>

        <label for="new_pw">Enter new password</label><br/>
        <input type="text" id="new_pw" name="new_pw"><br/>
        <% if (messages.success) { %>
            <%= messages.success %>
        <% } %><br/>

        <button type="submit">Change Password</button>
        
    </form> -->
    <form action="/logout?_method=DELETE" method = "POST">
        <button type="submit">Log Out</button>
    </form>
</body>
