<html>
<head>
    
</head>
<body>
<% months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"] %>
<script>
    var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
</script>
    <h1>Artisan's Sky</h1>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
</nav>
<div>
    <% posts.forEach(function(post){ %>
    <div>
        <a href="/view_post?_id=<%= post._id%>">
            <div>
                <img src="<%=post.file_path.replace('public', '')%>" alt="..."/>
                <div>
                    <h5><%= post.creater.name %></h5>
                </div>
            </div>
        </a>
    </div>
   <%})%>
</div>
</body>
</html>