<head>
    <title>Artisan's Sky</title>
</head>
<body>
    <h1>Artisan's Sky</h1>
    <h2>Hi</h2>
    <form action="/pwmod?_method=PUT" method = "POST">
        <label for="email">Enter email</label><br/>
        <input type="email" id="email" name="email"><br/>
        <% if (messages.email) { %>
            <%= messages.email %>
        <% } %><br/>

        <label for="og_pw">Enter original password</label><br/>
        <input type="text" id="og_pw" name="og_pw"><br/>
        <% if (messages.og_pw) { %>
            <%= messages.og_pw %>
        <% } %><br/>

        <label for="new_pw">Enter new password</label><br/>
        <input type="text" id="new_pw" name="new_pw"><br/>
        <% if (messages.success) { %>
            <%= messages.success %>
        <% } %><br/>

        <button type="submit">Change Password</button>
        
    </form>
    <form action="/logout?_method=DELETE" method = "POST">
        <button type="submit">Log Out</button>
    </form>
</body>
