<head>
    <title>Artisan's Sky</title>
</head>
<body>
    <h1>Artisan's Sky</h1>
    <h2>Hi</h2>
    <form action="/logout?_method=DELETE" method = "POST">
        <button type="submit">Log Out</button>
    </form>
</body>
